/* some style */
body{
  font-family: Tahoma;
}

h2 {
  font-size: 80px;
  margin: auto;
  width: 600px;
  text-align: center;
}

div{
  width: 600px;
  margin: auto;
}

div button{
  border: 0px;
  font-size: 100px;
  background: none;
  width: 200px;
  height: 200px;
}

div .alert{
  float: left;
  background: gray;
  color: yellow;
  font-size: 40px;
  text-align: center;
  width: 600px;
  height: 600px;
  position: absolute;
  opacity: 0.9;
}

.alert .finalMessage {
  margin-top: 100px;
}

.restart {
  display: block;
  color: white;
  font-size: 40px;
  margin: 0 auto;
  width: 400px;
  border: 10px solid green;
  margin-top: 80px;
}
